.three-column-section {
    width: 100%;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
  
  
  .row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  
  .column {
    width: 33%;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 4.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .column h1 {
    font-size: 2.3rem;
    margin-top: 70px;
  }
  
  .column p {
    margin-top: 30px;
    margin-right: 25px;
    font-size: 1.3rem;
    font-family: 'Roboto Mono', monospace;
  
  }
  
  .column h1+.underline {
    position: relative;
    margin: 10px auto;
    width: 30%;
    height: 2px;
    background-color: #333;
  }
  
  .column h1+.underline-2 {
    position: relative;
    margin: 10px auto;
    width: 50%;
    height: 2px;
    background-color: #333;
  }
  
  .column ul {
    margin-top: 30px;
    font-size: 1rem;
    list-style-type: decimal;
    text-align: center;
    padding-left: 1;
    padding-bottom: 15px;
  }
  
  .column ul li {
    margin-bottom: 10px;
  }

  .column img{
    width: 500px;
    height: auto;
  }

@media screen and (max-width: 1300px) {
    .column p{
        font-size: 1rem;
    }



}
@media screen and (max-width: 1200px) {
    .column p{
        font-size: 0.8rem;
    }

    .column h1{
        font-size: 1.8rem;
    }

}

@media screen and (max-width: 1000px) {
    .column p{
        font-size: 0.7rem;
    }
    .column img{
        height: 250px;
        width: 250px;
    }

}


  
@media (max-width: 768px) {
    .column {
      width: 100%;
    }
    
    .row {
      flex-wrap: wrap;
    }

    .column img{
        height: 500px;
        width: 500px;
    }

    .column h1{
    font-size: 2rem;
    }

    .column p{
        font-size: 0.9rem;
        margin-left: 30px;
    }

}
}












.a2-college-column-section{
  width: 100%;
  overflow: hidden;


  .a2-row{
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

  }

  .a2-column{
      width: 33%;
      box-sizing: border-box;
      text-align: center;
      padding-bottom: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto Mono', monospace;
  }

  .a2-column h1 {
      font-size: 2.3rem;
      margin-top: 70px;
      font-family: 'Roboto Mono', monospace;

    }
    
    .a2-column p {
      margin-top: 30px;
      margin-right: 25px;
      font-size: 1.3rem;
      font-family: 'Roboto Mono', monospace;

    }
    
    .a2-column h1+.underline {
      position: relative;
      margin: 10px auto;
      width: 30%;
      height: 2px;
      background-color: #333;
    }
    
    .a2-column h1+.underline-2 {
      position: relative;
      margin: 10px auto;
      width: 50%;
      height: 2px;
      background-color: #333;
    }
    
    .a2-column ul {
      margin-top: 30px;
      font-size: 1rem;
      list-style-type: decimal;
      text-align: center;
      padding-left: 1;
      padding-bottom: 15px;
      font-family: 'Roboto Mono', monospace;

    }
    
    .a2-column ul li {
      margin-bottom: 10px;
    }

    .a2-column img{
      width: 500px;
      height: auto;
    }

    @media screen and (max-width: 1300px) {
      .a2-column p{
          font-size: 1rem;
      }
  
  
  
  }
  @media screen and (max-width: 1200px) {
      .a2-column p{
          font-size: 0.8rem;
      }
  
      .a2-column h1{
          font-size: 1.8rem;
      }
  
  }
  
  @media screen and (max-width: 1000px) {
      .column p{
          font-size: 0.7rem;
      }
      .a2-column img{
          height: 250px;
          width: 250px;
      }
  
  }
  
  
    
  @media (max-width: 768px) {
      .a2-column {
        width: 100%;
      }
      
      .a2-row {
        flex-wrap: wrap;
      }
  
      .a2-column img{
          height: 500px;
          width: 500px;
      }
  
      .a2-column h1{
      font-size: 2rem;
      }
  
      .a2-column p{
          font-size: 0.9rem;
          margin-left: 30px;
      }
  
  }
}